/*定义了整个应用程序的根节点的背景色*//*使用了*/
.root {
    -fx-border-radius: 5px; /* 设置圆角边框半径 */
    -fx-border-width: 2.5px; /* 设置边框宽度 */
    -fx-border-color: #009b9f; /* 设置边框颜色 */
    -fx-background-color: rgba(205, 237, 222, 0.5); /* 设置背景颜色 */
    -fx-background-insets: 0; /* 设置背景的内边距为0 */
}

/* 字体规范 */
/*定义了标题的字体样式，包括字体、大小、颜色和加粗*//*使用了*/
.title-font {
    -fx-font-family: "微软雅黑"; /* 字体 */
    -fx-font-size: 24px; /* 字体大小 */
    -fx-text-fill: rgb(191, 204, 204); /* 字体颜色 */
    -fx-font-weight: bold; /* 字体加粗 */
    -fx-underline: false; /* 无下划线 */
    -fx-strikethrough: false; /* 无删除线 */
    /*-fx-effect: dropshadow(three-pass-box, rgba(232, 5, 5, 0.5), 5, 0, 0, 0);*/ /* 添加阴影效果 */
    -fx-alignment: center; /* 文本居中 */
}
/*定义了正文文本的字体样式，包括字体、大小和颜色*//*使用了*/
.body-font {/*使用*/
    -fx-font-family: 'Segoe UI', 'Roboto';
    -fx-font-size: 14px;
    -fx-text-fill: #003153;
}
/*定义了按钮文本的字体样式，包括字体、大小、颜色和字重*/
.button-font {
    -fx-font-family: 'Segoe UI', 'Roboto';
    -fx-font-size: 16px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: medium;
}

/* 按钮规范 */
/*定义了主要按钮的样式，包括背景色、边框颜色、圆角等*//*使用了*/
.main-button {/*使用*/
    -fx-background-color: rgba(220,245,240, 0.1);
    -fx-border-color: #718771;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    transition: background-color 3s ease;
}
/*定义了主要按钮在鼠标悬停时的样式*/
.main-button:hover {/*使用*/
    -fx-background-color: rgba(255, 217, 163, 0.8);
}
/*定义了主要按钮在按下时的样式*/
.main-button:pressed {/*使用*/
    -fx-background-color: rgba(0, 155, 159, 0.3);
    -fx-border-color: #003153;
}

/* 输入框规范 */
/*定义了输入框的样式，包括背景色、边框颜色、圆角和阴影效果*//*使用了*/
.input-field {/*使用*/
    -fx-background-color: #FFFFFF;
    -fx-border-color: #B0B0B0;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0.0, 2, 2);
}

.input-field:focused {
    -fx-border-color: rgba(0, 49, 83, 0.6);
    -fx-border-width: 2px; /* Optional: Make border slightly thicker on focus */
    -fx-border-radius: 3px;
    -fx-effect: dropshadow(gaussian, #009b9f, 10, 0.0, 0, 0); /* Add a focus shadow */
}

/* 面板和卡片规范 */
/*定义了面板的样式，包括背景色、阴影效果和圆角*/
.panel {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 2, 0.0, 2, 2);
    -fx-border-radius: 10px;
}

/* 悬浮提示规范 */
/*定义了悬浮提示框的样式，包括背景色、文本颜色、圆角和阴影效果*/
.tooltip {
    -fx-background-color: #6A0DAD;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 1, 0.0, 1, 1);
}
